---
import Page from "@/layouts/Page.astro";
import { User, BadgeCheck, Cpu, Moon } from "@lucide/astro";
import Team from "@/components/Team.astro";
---

<Page
	title="About Us"
	description="Grobles - Startup Leader in Software Development"
>
	<section class="max-w-7xl mx-auto">
		<div
			class="flex flex-col items-center text-center space-y-6 py-12 animate-fade-in"
		>
			<h1 class="text-4xl md:text-5xl lg:text-7xl font-bold">
				Creating Your <span class="italic">Digital Success</span>
			</h1>
			<p class="max-w-2xl text-lg">
				We are a dynamic team driven by passion and creativity committed to
				transforming your ideas into reality.
			</p>
			<span class="text-xl">Let's build the future together. 🚀</span>
			<a
				href="/contact"
				class="btn btn-lg btn-primary font-semibold px-8 py-3 rounded-full transition-all duration-300 hover:scale-105"
			>
				Start now
			</a>
		</div>
		<div
			class="flex justify-center items-center px-4 sm:px-6 md:px-8 animate-slide-up"
		>
			<img
				src="https://images.unsplash.com/photo-1629904869392-ae2a682d4d01?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
				alt="Personas programando reunidas"
				width="900"
				height="900"
				class="rounded-[2rem] shadow-xl"
				loading="lazy"
				decoding="async"
			/>
		</div>
		<!-- Vision section -->
		<div
			class="flex flex-col items-center text-center space-y-6 py-12 mt-20 animate-fade-in"
		>
			<span class="font-semibold">Our Vision</span>
			<h1 class="text-3xl max-w-3xl md:text-4xl lg:text-5xl font-bold">
				Our Values
			</h1>
			<p class="max-w-2xl text-lg">
				Our vision is to be a reference in the software development market,
				offering innovative and high-quality solutions.
			</p>
			<a
				href="/contact"
				class="btn btn-lg btn-primary font-semibold px-8 py-3 rounded-full transition-all duration-300 hover:scale-105"
			>
				Start now
			</a>
		</div>
		<div
			class="grid grid-cols-1 md:grid-cols-2 gap-8 px-4 py-12 max-w-6xl mx-auto animate-slide-up"
		>
			<!-- Tarjeta 1 -->
			<div
				class="p-8 rounded-xl shadow-lg hover:scale-105 transition-transform duration-300 cursor-pointer bg-base-200"
			>
				<div class="flex flex-col items-center text-center space-y-4">
					<div class="bg-primary text-primary-content rounded-full p-4 mb-2">
						<User class="w-10 h-10" />
					</div>
					<h3 class="text-2xl font-bold">Focused on the Client</h3>
					<p class="text-base-content/70">
						Our main focus is on the needs of our clients. We emphasize
						identifying their specific obstacles and goals, modifying our
						strategies to offer personalized service.
					</p>
				</div>
			</div>
			<!-- Tarjeta 2 -->
			<div
				class="p-8 rounded-xl shadow-lg hover:scale-105 transition-transform duration-300 cursor-pointer bg-base-200"
			>
				<div class="flex flex-col items-center text-center space-y-4">
					<div class="bg-primary text-primary-content rounded-full p-4 mb-2">
						<BadgeCheck class="w-10 h-10" />
					</div>
					<h3 class="text-2xl font-bold">Precision and Efficiency</h3>
					<p class="text-base-content/70">
						We are committed to fostering solid partnerships. Through close
						collaboration with our clients, we establish cooperative connections
						based on transparent communication and mutual respect.
					</p>
				</div>
			</div>
			<!-- Tarjeta 3 -->
			<div
				class="p-8 rounded-xl shadow-lg hover:scale-105 transition-transform duration-300 cursor-pointer bg-base-200"
			>
				<div class="flex flex-col items-center text-center space-y-4">
					<div class="bg-primary text-primary-content rounded-full p-4 mb-2">
						<Cpu class="w-10 h-10" />
					</div>
					<h3 class="text-2xl font-bold">Innovation and Technology</h3>
					<p class="text-base-content/70">
						Client demands and preferences are always evolving, requiring a
						creative approach to provide value and meet their needs.
					</p>
				</div>
			</div>
			<!-- Tarjeta 4 -->
			<div
				class="p-8 rounded-xl shadow-lg hover:scale-105 transition-transform duration-300 cursor-pointer bg-base-200"
			>
				<div class="flex flex-col items-center text-center space-y-4">
					<div class="bg-primary text-primary-content rounded-full p-4 mb-2">
						<Moon class="w-10 h-10" />
					</div>
					<h3 class="text-2xl font-bold">Keeping It Simple</h3>
					<p class="text-base-content/70">
						We prioritize ethical standards, transparency, and authenticity in
						all interactions. Our operations are based on integrity.
					</p>
				</div>
			</div>
		</div>
		<!-- Mision section -->
		<div
			class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center py-16 px-4 md:px-8 animate-fade-in"
		>
			<div class="space-y-6">
				<span class="font-semibold">Our Mission</span>
				<h2 class="text-3xl max-w-3xl md:text-4xl lg:text-5xl font-bold mt-5">
					Reduce the Digital Skills Gap
				</h2>
				<p class="text-lg text-base-content/70">
					At Grobles Solutions, our mission is to transform ideas into
					innovative digital solutions that drive the growth of our clients. We
					commit to:
				</p>
				<ul class="space-y-4">
					<li class="flex items-start space-x-3">
						<span class="text-xl">•</span>
						<span class="text-base-content/70"
							>Providing high-quality technological solutions that exceed
							expectations.</span
						>
					</li>
					<li class="flex items-start space-x-3">
						<span class="text-xl">•</span>
						<span class="text-base-content/70"
							>Staying at the forefront of the latest technological trends.</span
						>
					</li>
					<li class="flex items-start space-x-3">
						<span class="text-xl">•</span>
						<span class="text-base-content/70"
							>Building long-lasting relationships based on trust and mutual
							success.</span
						>
					</li>
				</ul>
			</div>
			<div class="relative h-[400px] rounded-2xl overflow-hidden">
				<img
					src="https://framerusercontent.com/images/GshzYw0x9SZcdDbvMofdpn78Cs.jpg?scale-down-to=1024"
					alt="Our Mission"
					class="object-cover w-full h-full"
					loading="lazy"
					decoding="async"
				/>
			</div>
		</div>
		<Team />
	</section>
</Page>
