---
const currentLocale = Astro.currentLocale || "es";
---

<section
	class="flex flex-col items-center justify-center mt-20 rounded-t-3xl bg-primary"
>
	<div class="max-w-4xl mx-auto text-center px-6 py-20">
		<h1
			class="text-4xl md:text-7xl lg:text-8xl font-bold text-base-content leading-tight mb-8"
		>
			{currentLocale === "es" ? "Eleve Su" : "Elevate Your"}
			<br />
			{currentLocale === "es" ? "Marca" : "Brand"}
			<span class="italic">Digital</span>
		</h1>
		<p class="text-xl md:text-2xl text-base-content mb-12 max-w-2xl mx-auto">
			{
				currentLocale === "es"
					? "Ponte en contacto con nosotros para hablar sobre tu próximo proyecto."
					: "Contact us to talk about your next project."
			}
		</p>
		<div class="flex flex-col items-center space-y-6">
			<a
				href="/contact"
				class="btn btn-outline bg-white rounded-full px-12 py-4 text-lg font-semibold transition-all duration-300 hover:scale-105"
			>
				{currentLocale === "es" ? "Empezar ahora" : "Start now"}
			</a>
		</div>
	</div>
	<div
		class="flex flex-col md:flex-row justify-between items-center w-full p-10 mt-10 space-y-4 md:space-y-0"
	>
		<div class="text-center md:text-start">
			<p>
				{
					currentLocale === "es"
						? "¿Tienes alguna duda, o quieres contactarnos?"
						: "Do you have any questions, or do you want to contact us?"
				}<br />
				<span class="font-bold">grobles.dev@gmail.com</span>
			</p>
		</div>
		<div class="text-center md:text-end">
			<p>
				{
					currentLocale === "es"
						? `Copyright © ${new Date().getFullYear()} Grobles Solutions. Todos los derechos reservados.`
						: `Copyright © ${new Date().getFullYear()} Grobles Solutions. All rights reserved.`
				}
			</p>
		</div>
	</div>
</section>
