---
import {
  Brain,
  ChartLine,
  Monitor,
  Paintbrush,
  Server,
  Smartphone,
} from "@lucide/astro";
const currentLocale = Astro.currentLocale || "en";

const servicesEs = [
  {
    title: "Desarrollo Web",
    description:
      "Creamos sistemas web modernos y responsivos que impulsan tu presencia digital y generan resultados tangibles.",
    icon: Monitor,
  },
  {
    title: "Desarrollo Móvil",
    description:
      "Desarrollamos aplicaciones móviles nativas y multiplataforma que ofrecen experiencias excepcionales.",
    icon: Smartphone,
  },
  {
    title: "Ciberseguridad",
    description:
      "Protegemos tu negocio con las mejores estrategias de ciberseguridad que ofrecemos.",
    icon: Server,
  },
  {
    title: "Diseño UI/UX",
    description:
      "Creamos interfaces intuitivas y atractivas que mejoran la experiencia de usuario y aumentan la conversión.",
    icon: Paintbrush,
  },
  {
    title: "Marketing Digital",
    description:
      "Impulsa tu negocio con estrategias de marketing digital, publicidad en redes sociales y posicionamiento SEO para llegar a más clientes.",
    icon: ChartLine,
  },
  {
    title: "Consultoría",
    description:
      "Ofrecemos consultoría para que tu negocio crezca y sea más eficiente.",
    icon: Brain,
  },
];

const servicesEn = [
  {
    title: "Web Development",
    description:
      "We create modern and responsive websites that boost your digital presence and generate tangible results.",
    icon: Monitor,
  },
  {
    title: "Mobile Development",
    description:
      "We develop native and cross-platform mobile applications that offer exceptional experiences.",
    icon: Smartphone,
  },
  {
    title: "Cybersecurity",
    description:
      "We protect your business with the best cybersecurity strategies we offer.",
    icon: Server,
  },
  {
    title: "UI/UX Design",
    description:
      "We create intuitive and attractive interfaces that improve user experience and increase conversion.",
    icon: Paintbrush,
  },
  {
    title: "Digital Marketing",
    description:
      "We promote your business with digital marketing strategies, social media advertising, and SEO positioning to reach more customers.",
    icon: ChartLine,
  },
  {
    title: "Consulting",
    description:
      "We offer consulting to help your business grow and be more efficient.",
    icon: Brain,
  },
];
---

<section class="max-w-7xl mx-auto">
  <div
    class="flex flex-col items-center text-center space-y-6 py-12 animate-fade-in"
  >
    <span class="font-semibold text-primary">
      {currentLocale === "es" ? "Nuestros Servicios" : "Our Services"}
    </span>
    <h1 class="text-3xl max-w-3xl md:text-4xl lg:text-5xl font-bold">
      {
        currentLocale === "es"
          ? "Brindamos servicios TI de alta calidad"
          : "We provide high-quality IT services"
      }
    </h1>
    <p class="max-w-2xl text-lg">
      {
        currentLocale === "es"
          ? "Te escuchamos, te proponemos las soluciones que necesitas y llegamos a un acuerdo con el objetivo de que tu negocio crezca."
          : "We listen to you, propose the solutions you need and reach an agreement with the goal of your business growing."
      }
    </p>
    <a
      href="/contact"
      class="btn btn-lg btn-primary font-semibold px-8 py-3 rounded-full transition-all duration-300 hover:scale-105"
    >
      {currentLocale === "es" ? "Comenzar ahora" : "Start now"}
    </a>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-8 px-4 py-12 max-w-6xl mx-auto animate-slide-up"
  >
    {
      currentLocale === "es"
        ? servicesEs.map((service) => (
            <div class="p-8 rounded-xl shadow  bg-base-200">
              <div class="flex flex-col items-center text-center space-y-4">
                <div class="bg-primary text-primary-content rounded-full p-4 mb-2">
                  <service.icon class="w-10 h-10" />
                </div>
                <h3 class="text-2xl font-bold">{service.title}</h3>
                <p class="text-base-content/70">{service.description}</p>
              </div>
            </div>
          ))
        : servicesEn.map((service) => (
            <div class="p-8 rounded-xl shadow  bg-base-200">
              <div class="flex flex-col items-center text-center space-y-4">
                <div class="bg-primary text-primary-content rounded-full p-4 mb-2">
                  <service.icon class="w-10 h-10" />
                </div>
                <h3 class="text-2xl font-bold">{service.title}</h3>
                <p class="text-base-content/70">{service.description}</p>
              </div>
            </div>
          ))
    }
  </div>
</section>
